/* Common Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.textPrimary {
    color: #FD6E0A;
}

.buttonPrimary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

/* Nav related Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.navTitle {
    color: var(--Dark-01, #181818);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header Related Style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding 30px 20px 40px 150px;
    margin: 0px 3% 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner button {
    margin-right: 25px;
}

.bannerContent {
    max-width: 500px;
    margin: 0px 150px;

}

.bannerGreeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.bannerHeading {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 85px;
    font-weight: 700;
}

.bannerDescription {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    width: 585px;
    height: 60px;
    line-height: 30px;
    color: #757575;
}

.profilePicture {
    width: 500px;
}

/* Main Section Styles */
main {
    max-width: 1500px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about {
    padding: 130px;
    background-color: #fff8f3;
    margin: 130px 20px;
}

.sectionTitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.sectionDescription {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.personalDetails {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
}

.personalDetails div {
    margin: 50px 0px 30px;
    text-align: center;
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.personalDetails span {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/* What I do Section */
#doWhatDesc {
    padding: 30px 150px;
}

.skillsContainer {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 25px 33px;
    max-width: 267px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skillTitle {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.skillDesc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* Resume Section Styles */
.resumeContainer {
    display: flex;
    gap: 50px;
}

.resItemTitle {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resItemInstitute{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resItemDesc,
.resItemInstitute {
    color: #757575;
}

.resColTitle {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resumeContainer hr{
    margin: 30px;
}

.downloadCV{
    text-align: center;
    margin-top: 50px;
}

/* footer Section Styles */

footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footerColumn{
    width: 50%;
}

.contact input[type="text"],input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    border: 0;
    width: 100%;
}

.socialLinks a{
    margin-right: 25px;
}